h1 {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 38px;
}
body {
    background-color: khaki;
}
table {
    border: solid 2px;
    margin: auto;
    background-color: cornsilk;
    width: 100%;
}
td {
    text-align: center;
    width: 8%;
}
th {
    text-align: left;
    font-size: 30px;
    color: blueviolet;
    font-style: italic;
}
a {
    color: brown;
    text-decoration: none;
}
p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkcyan;
    text-indent: 35px;
}
ul {
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    border: double 5px;
    height: 200px;
}